<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add tarefa</title>
</head>
<body>
    <div class="container">
            <h2>ADICIONAR TAREFAS</h2>
            
        <HR></HR>
        <div style="text-align: end;"><a style="text-align: end;" href="{{ url_for('home') }}"><button>voltar</button></a></div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
                {{ form.data() }}
                <label for="horario">Horário:</label>
                {{ form.time() }}
                <label for="titulo">Tarefa:</label>
                {{ form.tarefa() }}
                {{ form.btn() }}
        </form>
    </div>
    
</body>
</html>